---
import Container from '../ui/Container.astro';
import Button from '../ui/Button.astro';
---

<section class="hero-lrg">
  <Container>
    <div class="hero-lrg__inner">
      <div class="hero-lrg__headline">
        <h1 class="sr-only">
        Premium Web Design. Based in Clovis, California.
        </h1>

        <p class="hero-lrg__eyebrow">Custom websites and design for growing businesses.</p>

        <h2 class="hero-lrg__title font-family-body">
          <span class="small">Turn scattered ideas into</span> a polished web presence.
        </h2>

        <p class="hero-lrg__subheadline">
         Strategic design, high-performing websites, and powerful tools that help you move with clarity and confidence.
        </p>
      </div>

      <div class="hero-lrg__meta">
        <div class="hero-lrg__proof">
          <div class="hero-lrg__rating" aria-label="Five star rating">
            ✭✭✭✭✭
          </div>

          <blockquote class="hero-lrg__quote">
            "They took our business to the next level, solved the problems we had and helped us grow!"
          </blockquote>
        </div>

        <div class="hero-lrg__actions">
          <Button class="hero-lrg__button" href="/contact/">Get A Quote</Button>
          <Button class="hero-lrg__button" href="/case-studies/">View Our Work</Button>
        </div>
      </div>
    </div>
  </Container>
</section>
