---
import Section from '../ui/Section.astro';
import Container from '../ui/Container.astro';
import Heading from '../ui/Heading.astro';
---

<Section class="logos" tone="dark" size="compact">
  <Container>
    <Heading tone="dark">A History of Excellence</Heading>
  </Container>
</Section>
