---
import Section from '../ui/Section.astro';
import Container from '../ui/Container.astro';
import Heading from '../ui/Heading.astro';
---

<Section class="services" tone="dark">
  <Container>
    <Heading tone="dark">Service Offerings</Heading>
  </Container>
</Section>
