---
import BaseLayout from '../layouts/BaseLayout.astro';

import HeroLrg from '../components/sections/HeroLrg.astro';
import CaseStudies from '../components/sections/CaseStudies.astro';
import Features from '../components/sections/Features.astro';
import Work from '../components/sections/Work.astro';
import Testimonial from '../components/sections/Testimonial.astro';
import Logos from '../components/sections/Logos.astro';
import Contact from '../components/sections/Contact.astro';
// import Services from '../components/sections/Services.astro';
// import Industries from '../components/sections/Industries.astro';
import SocialProof from '../components/sections/SocialProof.astro';
---

<BaseLayout
  title="RedTail Web Design | Digital Solutions in Clovis CA"
  description="Premium Web and Brand Design for Creatives and Entrepreneurs. Based in Clovis, California, serving clients worldwide."
  canonicalPath="/"
  socialImagePath="/og_image.png"
>
  <main>
    <HeroLrg />
    <Work />
    <Testimonial />
    <Contact />
    <CaseStudies />
    <SocialProof />
  </main>
</BaseLayout>
