---
import '../styles/global.scss';

import Grain from '../components/sections/Grain.astro';
import Header from '../components/sections/Header.astro';
import Footer from '../components/sections/Footer.astro';

const { title = 'Site Title', description = '' } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- TODO SEO -->
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Adobe Fonts (Cinzel and Open Sans Semicondensed) -->
    <link rel="stylesheet" href="https://use.typekit.net/waa4jxr.css">

    <!-- TODO Favicon (optional) -->
    <!-- <link rel="icon" href="/favicon.ico" /> -->

    <!-- TODO: Open Graph / social meta -->

  </head>

  <body>
  <div id="site-root">
  <Grain />
  <Header />
  <slot />
  <Footer />
</div>
</body>
</html>
